@import "tailwindcss";

body {
  background: #020617;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background:
    radial-gradient(
      circle at top left,
      rgba(59,130,246,0.15),
      transparent 40%
    );

  pointer-events: none;
}